/* Sidebar.css */
.sidebar {
    width: 250px; /* Adjust as needed */
    height: 100vh;
    /* position: fixed; */
    overflow-y: auto;
    background-color: #f4f4f4; /* Sidebar background color */
    padding: 16px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 50%;
  }
  